<div>
    <p>Details of patient</p>
    
    <table>
        <tbody>
            <tr>
                <td>id</td>
                <td>name</td>
                <td>kind</td>
                <td>sick list</td>
            </tr>
            <tr>
                <td>{{patient.id}}</td>
                <td>{{patient.Name_Patient}}</td>
                <td>{{patient.Kind_Patient}}</td>
                <td>{{patient.sick_lists[0].id}}</td>
            </tr>
        </tbody>
    </table>
           
    </div>